rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /queries/{queryId} {
      allow read, write: if true;
    }
    match /companies/{cnpj} {
      allow read, write: if true;
    }
    match /materials/{materialId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
